html, body{
  margin: 20px;
  padding: 0px;
}

a{
  color: blue;
}

th {
  text-align: left;
  color: white;
  margin-top: 5px;
  vertical-align: middle;
}

tr:nth-child(even){
  background-color: lightgrey;
}

#actions {
  display: flex;
  justify-content: space-around;
  border: 0px;
}

button{
  background-color: #4281BF;
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin: 7px 3px;
}

#edit {
  background-image: linear-gradient(to right, #4281BF 0%, #a6c1ee 51%, #4281BF 100%);
}

#delete {
  background-image: linear-gradient(to right, #C14242 0%, #fda085 51%, #C14242 100%);
}
#edit, #delete{
  width: 85px;
  height: 35px;
  padding: 2px;
  text-align: center;
}

button:hover{
  cursor:pointer;
}

h1 {
  font-size: 42px;
  margin: 0px;
  text-align: left;
  padding: 20px 0px;
}

h2, td {
  color: #6f42c1;
  font-weight: bold;
  text-align: left;
}

form {
  text-align: left;
}

label {
  display: block;
  width: 200px;
  font-size: 22px;
}

input{
  width: 200px;
  margin: 10px auto;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 3px 3px 6px;
}





/* Resource:  
https://www.youtube.com/watch?v=edjKt-CNvhM&list=PL3wNvVad2mw1yXag7OesV1oni7j1wdwt6&index=15 */